<!--  <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link href="../css/bootstrap.min.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<span th:text="${serverTime}"></span>
	<h1>Add new Compte</h1>
	<form th:action="@{/comptes/save}" method="POST">
		<table>
			<tr>
				<td>Cin Client :</td>
				<td><input type="text" name="cin" /></td>
			</tr>
			<tr>
				<td>Solde :</td>
				<td><input type="text" name="solde" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Save"
					class="btn btn-outline-primary" /></td>
				<td></td>
			</tr>
		</table>
	</form>
	<hr />
	<h1>List of comptes</h1>
	<table class="table table-striped">
		<tr>
			<th>Rib</th>
			<th>Client</th>
			<th>Solde</th>
			<th>Edit</th>
			<th>Delete</th>
			<th>Delete-ajax</th>
		</tr>
		<tr th:id="${compte.rib}" th:each="compte: ${comptes}">
			<td th:text="${compte.rib}" />
			<td th:text="${compte.nomAndPrenom}" />
			<td th:text="${compte.solde}" />

			<td><a th:href="'/comptes/edit/'+${compte.rib}">edit</a></td>
			<td><a th:href="'/comptes/delete/'+${compte.rib}">delete</a></td>
			<td><a th:href="'javascript:deleteCompte('+${compte.rib}+')'">delete-ajax</a></td>
		</tr>

	</table>
	<script src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/jquery-3.6.1.min.js"></script>
	<script src="../js/comptes.js"></script>
	<script src="../js/sweetalert.min.js"></script>
</body>
</html> -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="template.html :: layout(~{::title}, ~{::main})">
<head>
    <meta charset="utf-8">
    <title>Gestion des comptes</title>
</head>
<main class="row mt-5">
    <div class="col-md-12 col-lg-6">
		<h1 class="h1 text-center">Add new Compte</h1>
		<form th:action="@{/comptes/save}" method="POST" class="mx-auto p-2">
			<div class="form-group row mb-2">
				<label for="cin" class="col-lg-4 col-md-6 col-form-label">Cin de client</label>
				<div class="col-lg-8 col-md-6">
					<input type="text" class="form-control" id="cin" name="clientCin" placeholder="cin de client">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="solde" class="col-lg-4 col-md-6 col-form-label">solde</label>
				<div class="col-lg-8 col-md-6">
					<input type="text" class="form-control" id="solde" name="solde" placeholder="prenom">
				</div>
			</div>
			<div class="d-flex justify-content-end gx-5 w-100">
				<button class="btn btn-dark" style="margin-right: 2%" type="reset">Annuler</button>
				<button class="btn btn-success" type="submit">aAjouter compte</button>
			</div>
		</form>
	</div>
    <div class="col-md-12 col-lg-6">
        <h1 class="h1 text-center">List de comptes</h1>
        <table class="table table-striped table-hover table-dark">
            <thead>
            <tr>
                <th scope="col" class="text-center">rib</th>
                <th scope="col" class="text-center">Solde</th>
                <th scope="col" class="text-center">Client</th>
                <th scope="col" class="bg-dark text-center">actions</th>
            </tr>
            </thead>
            <tbody class="table-light">
            <tr th:id="${compte.rib}" th:each="compte: ${comptes}">
                <td class="text-center" th:text="${compte.rib}"/>
                <td class="text-center" th:text="${compte.solde}"/>
                <td class="text-center" th:text="${compte.client.prenom + ' '+compte.client.nom}"/>
                <td class="d-flex justify-content-evenly">
                    <a class="btn btn-warning" th:href="'/comptes/edit/'+${compte.rib}">edit</a>
                    <button class="btn btn-danger" th:attr="onclick='deleteCompte('+ ${compte.rib} +')'">
                        delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</html>
